.JenisSakit {
  margin: 80px 120px;
}

.card-jenissakit {
  margin-top: 24px;
}

.card-sakit {
  margin-top: 16px;
  padding: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.custom-link {
  text-decoration: none;
}

@media Screen and (max-width: 540px) {
  .JenisSakit {
    width: 100%;

    margin: 40px 0;
    padding: 0 20px;
  }

  .card-jenissakit {
    margin-top: 12px;
  }

  .card-jenissakit .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    height: 13rem;
    overflow-y: hidden;
    margin: 0;
  }
  .card-sakit {
    display: flex;
    margin-top: 8px;
    padding:0;
    border-radius: 10px;
    text-align: center;
    max-width: 6rem;
    margin: 0;
  }
  

  
  .card-title {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }

  .card-jenissakit .col-sm-2 {
    width: 6rem;
    padding: 0;
  }

  .card-jenissakit .col-sm-2:nth-child(0) {
    display: none;
  }
  .card-jenissakit .card-body {
    padding: 0;
    width: 5rem;
    height: 5rem;
  }

  .card-jenissakit .card-body img{
    width: 3rem;
    height: 3rem;
  }
}
