.dokterRekomendasi{
  margin: 80px 120px;
}


.dokter-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }
  
  .rekomendasi-title {
    height: 100%;
    background-size: cover;
    border-radius: 16px;
  }
  
  .rekomendasi-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    
  }

  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 8px;
  }

  .card-price {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;

  }

  .comp-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10rem;
    gap: 8px;

  }

  .comp-2 .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-bottom: 8px;
  }

  .comp-2 .card-text {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: #000;
  }

  .comp-2 .card-price {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: #000;
  }

  .comp-2 span{
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #F58736;
  }


  .comp-1{
    width: 350px;
    height: 250px;
    padding: 0;
  }



  .dokter-daftar{
    border-radius: 12px;
    padding-top: 1.1rem;
    background: url('https://lh3.googleusercontent.com/pw/AMWts8CjhmcbQCxQH-RrDzcWI93V4MI9U-QIB4WCbUUzx1o_j0RM4RErYLHR7DeEtZLGt6dxVflk5VzgN5pCSI5APLuV8aGhKPvOaLDYIANqbRVZv90QqwxmIk2Ia7kRjbw5ctOO-jcLvR9swM5muOliVSFu=w837-h568-s-no?authuser=0');
    background-size: cover;
  }
