.cart {
  margin: 0 120px ;
}

.cart-pembungkus {
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 16px;
  flex-wrap: wrap;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cart-pembungkus h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-image img {
  width: 100%;
  border-radius: 8px;
}

.cart-item-details {
  display: flex;
  gap: 32px;
}

.cart-item-title {
  font-size: 16px;
  color: #070717;
}

.cart-item-price {
  font-size: 16px;
  color: #00A376;
  font-weight: 600;
}

.counter {
  display: flex;
  align-items: center;
}

.counter-btn {
  padding: 4px;
  font-size: 24px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.counter-decrease {
  background-color: #ff3d00;
}

.counter-decrease:hover {
  background-color: #d32f2f;
}

.counter-decrease:disabled {
  background-color: #fff;
  cursor: not-allowed;
  color: #9CA4AB;
}

.counter-increase {
  background-color: #00A376;
}


.counter-quantity {
  margin: 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.btn-outline-danger {
  font-size: 14px;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.btn-checkout{
  margin-top: 16px;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  background-color: #00A376;
}

.cart-summary{
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.cart-summary h4{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.cart-summary p{
  font-size: 18px;
  margin-bottom: 10px;
  color: #9CA4AB;
}

.totalprice{
  color: #070717;
}

.paypalbutton{
  margin-top: 24px;
}

.alamat{
  margin-top: 24px;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 24px;
  color: #070717;
  font-weight: 600;
}

.alamat h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #070717;
}

.nama{
  margin-top: 24px;
}

.kontak{
  margin-top: 24px;
}

.alamat-form{
  margin-top: 24px;
}

.kota{
  margin-top: 24px;
}

.payment{
  margin-top: 24px;
}