.hal-dokter .dokterRekomendasi {
    margin: 0;
  }
  
  .hal-dokter {
    margin: 0 120px;
    margin-top: 1.5rem;
  }
  
  .res-filter{
    display: none;
  }
  /* Pagination */
  .daftar-dokter {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  
  .fil2{
    display: none;
  }
  .daftar-dokter li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(180, 180, 180);
  
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .daftar-dokter li:hover {
    background-color: rgb(27, 190, 117);
    color: #ffffff;
    border: none;
  }
  
  .dokter-active {
    background-color: rgb(27, 190, 117);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
  
  /* Page Dokter */
  .bread-dokter {
    margin: 0px 120px;
    margin-top: 50px;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: 14px;
  }
  
  .bread-dokter ol {
    margin-bottom: 1.5rem;
  }
  .bread-dokter a {
    text-decoration: none;
  }
  
  .bread-dokter .bread-item {
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    color: gray;
  }
  
  .bread-dokter .bread-item-active {
    width: auto;
    margin-left: 40px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .bread-dokter h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
  }
  
  /* Filtering and displaying */
  .search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 3rem;
  }
  
  .search-bar .search-dokter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
    border: gray 1px solid;
    background-color: #ffffff;
    width: 15rem;
    padding: 8px;
    border-radius: 8px;
    height: 2rem;
  }
  
  .hal-dokter .price-filter {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    margin-left: 8px;
    height: 2rem;
    align-items: center;
  }
  
  .price-filter p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: black;
  }
  
  .price-filter select {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    color: black;
    border: gray 1px solid;
    background-color: #ffffff;
    height: 2rem;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    width: 9rem;
    border-radius: 8px;
  }
  .price-filter option {
    font-size: 14px;
    font-weight: 400;
    color: black;
    cursor: pointer;
  }
  
  .page-dokter {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
  }
  
  .filtering {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .jenis-spesialis {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  
  .jenis-spesialis p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: #000;
  }
  
  .jenis-spesialis label {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 10rem;
    color: #000;
  }
  .load {
    font-size: 1.5rem;
  
    position: absolute;
    left: 90vh;
    top: 20rem;
    margin: 0 120px;
  }
  
  /* Card Dokter */
  
  .hal-dokter .main {
    width: 13.9rem;
  }
  
  .hal-dokter .dokter-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    margin: 0;
  }
  
  .hal-dokter .row {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 12px;
  }
  
  .main-row {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .hal-dokter .card {
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
  }
  
  .hal-dokter .card-body {
    padding: 10px;
  }
  
  .hal-dokter .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .hal-dokter .comp-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8rem;
    gap: 4px;
    margin-top: 0;
  }
  
  .hal-dokter .comp-2 .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-top: 12px;
  }
  
  .hal-dokter .comp-2 .card-text {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    color: #000;
  }
  
  .hal-dokter .comp-2 .card-price {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    color: #000;
  }
  
  .hal-dokter .comp-2 span {
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    color: #f58736;
  }
  
  .hal-dokter .comp-1 {
    width: 350px;
    height: 250px;
    padding: 0;
  }
  
  .hal-dokter .btn {
    margin-top: 8px;
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 163, 118, 1);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 4px;
  }
  
  @media screen and (max-width: 540px) {
    /* Page Dokter */
    .bread-dokter {
      margin: 0px 20px;
      margin-top: 20px;
      gap: 1rem;
      margin-bottom: 1rem;
      font-size: 12px;
    }
  
    .bread-dokter ol {
      margin-bottom: 1rem;
    }
  
    .bread-dokter .bread-item-active {
      width: auto;
      margin-left: 20px;
      margin: 0;
      padding: 0;
      padding-left: 8px;
      text-decoration: none;
      display: flex;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .bread-dokter h1 {
      color: black;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 20px;
    }
  
    .hal-dokter {
      margin: 0 20px;
      margin-top: 1.5rem;
    }
  
    /* Filtering and displaying */
    .search-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
      width: 100%;
      padding-right: 0;
      padding: 2px;
    }
  
    .search-bar .search-dokter {
      font-size: 12px;
      width: 8rem;
      padding: 6px;
      height: 1.5rem;
    }
  
    .hal-dokter .price-filter {
      width: 7rem;
      height: 1rem;
      align-items: center;
    }
  
    .price-filter p {
      font-size: 12px;
      display: none;
    }
  
    .price-filter select {
      font-size: 12px;
      height: 1.5rem;
      padding: 0;
      padding-left: 4px;
      padding-right: 4px;
      width: 7rem;
      border-radius: 8px;
    }
  
    .price-filter option {
      font-size: 12px;
    }
  
    .page-dokter {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 12px;
      width: 100%;
      height: auto;
    }
  
    .fil2{
      display: flex;
    }
    .fil1{
      display:none;
    }
    
    .fil1 .jenis-spesialis{
      display: none;
    }
    .filtering {
      width: 100%;
      height: auto;
      display: flex;
      padding: 0;
      justify-content: space-between;
    }
  
    .jenis-spesialis {
      gap: 0;
      flex-direction: row;
      display: flex;
      height: 10rem;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
  
    .jenis-spesialis p {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: #000;
      display: none;
    }
  
    .jenis-spesialis label {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      height: 2rem;
      width: 6rem;
      color: #000;
    }
    .load {
      font-size: 1.5rem;
  
      position: absolute;
      left: 90vh;
      top: 20rem;
      margin: 0 120px;
    }
  
    .hal-dokter .main-row {
      background-color: rgb(236, 235, 235);
      display: flex;
      gap: 0;
      padding-top: 2rem;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 103.5rem;
      overflow-y: hidden;
      border: none;
    }
    .hal-dokter .main {
      display: flex;
      height: 24.5rem;
      margin-bottom: 1rem;
      width: 17rem;
    }
  
    .hal-dokter .card {
      width: 30rem;
      padding: 0;
    }
  
    .hal-dokter .card-body {
      display: flex;
      padding: 0;
      justify-content: space-between;
      padding-top: 12px;
    }
  
    .hal-dokter .comp-2 {
      width: 100%;
      height: 9rem;
    }
  
    .hal-dokter .comp-2 .card-title {
      font-size: 16px;
      margin-top: 12px;
    }
  
    .hal-dokter .comp-2 .card-text {
      font-size: 12px;
      margin: 0;
      font-weight: 400;
      color: #000;
    }
  
    .hal-dokter .comp-2 .card-price {
      font-size: 12px;
      margin: 0;
      font-weight: 400;
      color: #000;
    }
  
    .hal-dokter .comp-2 span {
      font-size: 14px;
      margin: 0;
      font-weight: 700;
      color: #f58736;
    }
  
    .hal-dokter .comp-1 {
      width: 250px;
      height: 150px;
      padding: 0;
    }
  
    .hal-dokter .btn {
      margin-top: 8px;
      width: 100%;
      height: 2rem;
      background-color: rgba(0, 163, 118, 1);
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 4px;
    }
  
  
  /* Pagination */
  .daftar-dokter {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 2rem;
      padding: 0;
    }
    
    .daftar-dokter li {
      width: 32px;
      margin: 0;
      height: 32px;  
      font-size: 12px;
    }
    
    .daftar-dokter li:hover {
      background-color: rgb(27, 190, 117);
      color: #ffffff;
      border: none;
    }
    
    .dokter-active {
      background-color: rgb(27, 190, 117);
      color: #ffffff;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
    }
    
    .res-filter{
      display: flex;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      background-color: rgba(0, 163, 118, 1);

      width: 100%;
      padding: 4px;
      border: 1px solid rgb(27, 190, 117);
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  

