.testimonial{
    margin: 80px 120px;
}

.card-testimonial{
    margin: 24px 0;
}

.card-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: 16px;
}

.bintang{
    color: #FFC107;
}

.testimonial-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;

}

.bodi{
    height: 14rem;
    padding: 12px 16px;
}



@media screen and (max-width:540px) {
    .testimonial{
        margin: 40px 20px;
    }
    
    .testimonial .card-testimonial{
        margin:0;
      
    }

    .card-testimonial .row{
        display: flex;
        margin-top: 18px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 22.3rem;
        padding-top:12px ;
        border-radius: 12px;
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .testimonial-title{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #212529;
        margin-bottom: 0;
    }
    .card-text{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        margin-top: 16px;
    }
    
    .bintang{
        color: #ffc519;
        font-size: 14px;
    }
    
    .testimonial .card{
        border-radius: 12px;

    }
    
    .bodi{
        border: 1px solid #e2e2e2;
        height: 9.5rem;
        padding: 8px 4px;
        border-radius: 12px;
        margin: 0;
        background-color: rgb(255, 255, 255);
    }
       
    
}