.toko{
    margin: 24px 120px
}

.toko h2{
   font-size: 32px;
    font-weight: 700;
}


.breadcumb ol {
    margin-bottom: 1.5rem;
  }
  .breadcumb a {
    text-decoration: none;
  }
  
  .breadcumb .bread-item {
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    color: gray;
  }
  
  .breadcumb .bread-item-active {
    width: auto;
    margin-left: 40px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }


@media screen and (max-width: 540px) {
    .toko{
        margin: 0 16px
    }

    .toko h2{
        font-size: 24px;
         font-weight: 700;
     }
}
    
